.vscode/hello.cpp
.vscode/launch.json
.vscode/tasks.json
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/education
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-6a6ab039cde8c7c8b1cb.json
build/.cmake/api/v1/reply/cmakeFiles-v1-0a7da196343ded893aad.json
build/.cmake/api/v1/reply/codemodel-v2-0526203b1e0f3fe4b325.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2024-01-17T09-19-26-0243.json
build/.cmake/api/v1/reply/target-education-Debug-bb59d689127f4e46898e.json
build/.cmake/api/v1/reply/toolchains-v1-7c89816a85c0ca128fc2.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.28.1/CMakeCCompiler.cmake
build/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.28.1/CMakeSystem.cmake
build/CMakeFiles/3.28.1/CompilerIdC/a.out
build/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.28.1/CompilerIdCXX/a.out
build/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/education.dir/build.make
build/CMakeFiles/education.dir/cmake_clean.cmake
build/CMakeFiles/education.dir/compiler_depend.make
build/CMakeFiles/education.dir/compiler_depend.ts
build/CMakeFiles/education.dir/depend.make
build/CMakeFiles/education.dir/DependInfo.cmake
build/CMakeFiles/education.dir/flags.make
build/CMakeFiles/education.dir/link.txt
build/CMakeFiles/education.dir/progress.make
build/CMakeFiles/education.dir/hse/main.cpp.o
build/CMakeFiles/education.dir/hse/main.cpp.o.d
stepik/stepik/main.cpp
stepik/stepik/stepik while.cpp
stepik/stepik.xcodeproj/project.pbxproj
stepik/stepik.xcodeproj/project.xcworkspace/contents.xcworkspacedata
stepik/stepik.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
stepik/stepik.xcodeproj/project.xcworkspace/xcuserdata/andreybobua.xcuserdatad/UserInterfaceState.xcuserstate
stepik/stepik.xcodeproj/xcuserdata/andreybobua.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
stepik/stepik.xcodeproj/xcuserdata/andreybobua.xcuserdatad/xcschemes/xcschememanagement.plist
